@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

.playfair {
  font-family: var(--font-playfair), serif;
}

.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.lora {
  font-family: var(--font-lora), serif;
}

.dancing {
  font-family: var(--font-dancing), cursive; 
}

.raleway {
  font-family: var(--font-raleway), sans-serif;
}

.merriweather {
  font-family: var(--font-merriweather), serif;
}

.roboto {
  font-family: var(--font-roboto), sans-serif;
}

.poppins {
  font-family: var(--font-poppins), sans-serif;
}

.lobster {
  font-family: var(--font-lobster), cursive;
}

.oswald {
  font-family: var(--font-oswald), sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@layer utilities {
  
  .animate-pulseCustom {
    animation: pulseCustom 2s infinite ease-in-out;
  }

  @keyframes pulseCustom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}



:root {
  --background: #e5e7eb;
  --text: #1f2937;
  --card-bg: #ffffff;
  --border: #9ca3af;
  --button-bg: #6b7280;
  --button-text: #f5f5f5;
  --button-hover-bg: #4b5563;
  --accent: #eab308;
  --accent-hover: #ca8a04;
}

[data-theme="dark"] {
  --background: #1f2937;
  --text: #f3f4f6;
  --card-bg: #374151;
  --border: #6b7280;
  --button-bg: #9ca3af;
  --button-text: #1f2937;
  --button-hover-bg: #d1d5db;
  --accent: #facc15;
  --accent-hover: #eab308;
}

body {
  background-color: var(--background);
  color: var(--text);
}

main {
  background-color: var(--background);
}

.border-dashed {
  border-color: var(--border);
}

.text-3xl {
  color: var(--text);
}

.bg-white {
  background-color: var(--card-bg);
}

.bg-gray-200 {
  background-color: var(--background);
}

.text-gray-800 {
  color: var(--text);
}

.text-gray-500 {
  color: var(--border);
}

.bg-gray-300 {
  background-color: var(--button-bg);
}

.text-gray-700 {
  color: var(--text);
}

.bg-yellow-500 {
  background-color: var(--accent);
}

.text-amber-50 {
  color: var(--button-text);
}

.bg-gray-500 {
  background-color: var(--button-bg);
}

.bg-green-600 {
  background-color: var(--accent);
}

.bg-green-700 {
  background-color: var(--accent-hover);
}

.bg-yellow-600 {
  background-color: var(--accent-hover);
}

.bg-gray-600 {
  background-color: var(--button-hover-bg);
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #4b5563;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4b5563;
}